/* articles */

.sectionarticle{ 
    display: flex;
    flex-direction: column;
    text-align:center; 
    background: rgb(39, 38, 38);
    width: 100%;
}

article img {
    border-radius: 20px;
    width: 50%;
    margin-bottom: 20px;
    filter: drop-shadow(30px 10px 4px #339966);
}

article p{
    text-align: justify;
    color: white;
    margin: 40px;
    text-justify: auto;
}

/* embed video */

iframe{
    width:400px;
    height:200px;
    filter: drop-shadow(30px 10px 4px #339966);
    border-radius: 20px;
}

@media screen and (min-width: 961px) {
    iframe{
        width:600px;
        height:300px;
    }
}

/* facebook and twitter share buttons */

.share img { 
    width: 50px;
    height: 50px;
  }

.share{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
}


article{
    padding-left:5%;
    padding-right:5%;
}

.article-p-index{
    height:250px;
}

.article-p-index article h2 a{
    text-decoration:none
}

@media screen and (min-width: 961px) {
    article{
      padding-left:20%;
      padding-right:20%;
    }

    .article-p-index{
        height:450px;
    }

  }

/*Comments & send button*/

textarea{
    margin:5px auto;
    padding:20px;
    width:50%;
    height:150px;
    background: bisque;
    border-radius: 25px;
}
.submit{
    width:80px;
    height:40px;
    background: bisque; 
    border-radius: 25px;
    margin-left:40%;
}

.mail, .name{
    margin:5px auto;
    padding:5px;
    width:25%;
    background: bisque;
    border-radius: 25px;
}

/* img on index page */

.article-p-index img{
    width:20%;
    filter: drop-shadow(30px 10px 4px #339966);
}

.article-p-index img:hover {
    width: 22%;
    transition: 0.2s ease-out;
}