/* footer */

footer ul { 
  margin: 0px;
  text-align: center;
  margin : auto;
}

footer ul li {
  list-style: none;
  margin: 20px;
  font-size: 25px;
  text-align:center;
  display:inline-block;
  color: white;
}

footer img { 
  width: 35px;
  height: 35px;
}
