/* Form */

form h2{
  text-align:center
}

form{
  display: flex;
  flex-direction: column;
  margin: 20px; 
  padding:10px;
  height: 500px;
}

form .submit{
  margin:5px 15%;
  width:80px;
  height:40px;
  align-self: flex-end; 
  background: bisque; 
  border-radius: 25px;
}

#email, #address, #message, #choice{
  margin:5px auto;
  padding:5px;
  width:50%;
  background: bisque;
  border-radius: 25px;
}

#message{
  height:300px;
  padding:20px
}
